
table{
    width: 100%;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #50d9e3;
    border-style: solid;
}
 td, th {
    border-width: 1px;
    border-color: #50d9e3;
    border-style: solid;
  
  }

img{
    height: 50px;
    width: auto;
    margin: 10px;
}